*,
*:before,
*:after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
}
body {
   height: 100vh;
      background-image: url(	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQA…FebI8qMVyxaddkrvkzv4Pt7iFz9PXmP4AAAAASUVORK5CYII=);
}
.block-1 {
   width: 45%;
   min-width: 450px;
   background-color: rgba(0, 0, 0, 0.726);
   padding: 75px 25px;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   border-radius: 10px;  
   box-shadow: 0 5px 10px rgba(20, 25, 70, 0.555);
}

#out-1{
   background-color: transparent;
   border: none;
   border-bottom: 3px solid rgb(196, 193, 193);
   width: 80%;
   height: 40px;
   padding: 15px 10px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(255, 255, 255);
   font-size: 20px;
   letter-spacing: 2px;
}
.btn {
   width: 30px;
   height: 30px;
   margin-right: 5px;
   margin-left: 5px;
   background-color: transparent;
   border: none;
   color: rgb(255, 255, 255);
   font-size: 20px;
   float: right;
   text-align: right;
   cursor: pointer;
   overflow: hidden;
   transition: 0.35s;
}

 .btn:hover {
   background-color: rgba(0, 0, 0, 0.200);
   color: rgba(0, 0, 0, 0.200);
   border-radius: 5px; 
 }

 input[type="range"]{
   -webkit-appearance: none;
   appearance: none;
   width: 80%;
   height: 3.0px;
   margin-top: 75px;
   background-color: #ffffffbe;
   border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance: none;
   appearance: none;
   height: 15px;
   width: 15px;
   background-color: #2f44ff;
   border-radius: 50%;
}
h3{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: inline-block;
   width: 12%;
   color: #212427;
   background-color: #fcf9f9;
   text-align: center;
   padding: 6px 0;
   margin-left: 6%;
   border-radius: 4px;
   font-size: 20px;
}